<!DOCTYPE html>
<html>
  <!-- HEADER START -->
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <!--<link rel="stylesheet" href="maps_component/css/mapbox.css "> -->
    <link href='https://api.mapbox.com/mapbox.js/v2.2.2/mapbox.css' rel='stylesheet' />
    <link rel="stylesheet" href="maps_component/css/markercluster.css "> 
    <link rel="stylesheet" href="maps_component/bootstrap/css/bootstrapcyborg.min.css ">
    <link rel="stylesheet" href="maps_component/bootstrap/css/bootstrap-toggle.css ">
    <link href='https://api.mapbox.com/mapbox.js/plugins/leaflet-markercluster/v0.4.0/MarkerCluster.Default.css' rel='stylesheet' />
    <link href='https://api.mapbox.com/mapbox.js/plugins/leaflet-markercluster/v0.4.0/MarkerCluster.css' rel='stylesheet' />
    <link rel="stylesheet" href="maps_component/css/main.css "> 

    <script type="text/javascript" src="maps_component/js/leaflet.js "> </script>
    <script type="text/javascript" src='maps_component/js/mapbox.js'></script>
    <script type="text/javascript" src='maps_component/js/leaflet.markercluster.js'></script>


  

  </head>
  <!-- HEADER ENDS -->

  <!-- BODY START -->
  <body>

    <div id="map-canvas"></div> 
    <!-- <script type="text/javascript" src="maps_component/js/mapbox.js "> </script> -->
    <script type="text/javascript" src="maps_component/js/sample_data.js "> </script>
    <script type="text/javascript" src="maps_component/js/map.js "> </script>
    


  </body>
  <!-- BODY ENDS -->
</html>
